<div class="main-container">

    <div class="integer">
        <integer></integer>
    </div>
    <div class="text">
        <text></text>
    </div>
    <div class="keycontainer">
        <div class="col-lg-4 col-md-4 col-sm-4 keys" (click)="pressKey('1')">
            1
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 keys" (click)="pressKey('2')">
            2
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 keys" (click)="pressKey('3')">
            3
        </div>
    </div>

    <div class="keycontainer">
        <div class="col-lg-4 col-md-4 col-sm-4 keys" (click)="pressKey('4')">
            4
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 keys " (click)="pressKey('5')">
            5
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 keys" (click)="pressKey('6')">
            6
        </div>
    </div>

    <div class="keycontainer">
        <div class="col-lg-4 col-md-4 col-sm-4 keys" (click)="pressKey('7')">
            7
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 keys " (click)="pressKey('8')">
            8
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 keys" (click)="pressKey('9')">
            9
        </div>
    </div>

    <div class="keycontainer">
        <div class="col-lg-4 col-md-4 col-sm-4 keys" (click)="pressKey('#')">
            #
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 keys " (click)="pressKey('0')">
            0
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 keys" (click)="clear()">
            <- </div>
        </div>

    </div>